In [1]:
import pandas as pd

In [11]:
eco_free = pd.read_excel(r'C:\Users\Quaresma\Documents\IRONHACK\Tableau project\Datasets\Economic_Freedom_index_data.xlsx')
cpi= pd.read_excel(r'C:\Users\Quaresma\Documents\IRONHACK\Tableau project\Datasets\Corruption_Perception_index.xlsx')

In [14]:
def merge_and_clean_data(df1, df2):
    def norm_headers(data):
        col = [data.columns[i].lower().replace(" ", "_") for i in range(len(data.columns))]
        data.columns = col

    norm_headers(df1)
    norm_headers(df2)
    df_all = pd.merge(df1, df2, how='inner', on=['code', 'year'])
    
    df_all = df_all.drop(['countryid', 'country_name', 'region_y'], axis=1)
    df_all.rename(columns={
        "region_x": "region",
        "rank": "cpi_rank",
        "standard_error": "cpi_standard_error",
        "world_rank": "economic_freedom_world_rank",
        "region_rank": "economic_freedom_region_rank",
        'score': 'eco_free_score'
    }, inplace=True)

    return df_all

In [17]:
df_all=merge_and_clean_data(cpi, eco_free)

,country,code,region,cpi_score,cpi_rank,sources_,cpi_standard_error,year,economic_freedom_world_rank,economic_freedom_region_rank,...,gov't_expenditure_%_of_gdp_,population_(millions),"gdp_(billions,_ppp)",gdp_growth_rate_(%),5_year_gdp_growth_rate_(%),gdp_per_capita_(ppp),unemployment_(%),inflation_(%),fdi_inflow_(millions),public_debt_(%_of_gdp)
0,Morocco,MAR,MENA,38.0,94.0,7.0,1.797140,2022,97.0,6.0,...,31.750333,36.910558,273.95,-7.021,0.7838,7619.886,10.15,0.622,1763.0,76.072
1,Afghanistan,AFG,AP,24.0,150.0,4.0,6.299999,2022,NaN,NaN,...,NaN,38.928341,78.729,-5.000,0.9824,2390.024,11.73,5.607,13.0,7.785
2,Angola,AGO,SSA,33.0,116.0,7.0,2.807703,2022,139.0,29.0,...,21.255000,32.866268,215.105,-3.975,-1.8610,6931.862,7.70,22.277,-1866.0,127.115
3,Albania,ALB,ECA,36.0,101.0,8.0,1.316355,2022,50.0,30.0,...,30.514667,2.837743,40.737,-3.500,1.9856,14218.106,11.70,1.603,1107.0,75.960
4,United Arab Emirates,ARE,MENA,67.0,27.0,7.0,3.102045,2022,33.0,1.0,...,30.848667,9.890400,650.829,-5.924,0.4758,58753.003,5.00,-2.074,19884.0,38.329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,Vanuatu,VUT,AP,43.0,71.0,3.0,3.930000,2017,52.0,12.0,...,32.928000,0.300000,0.7,-0.800,1.3000,2549.6,4.30,3.300,29.1,20.500
1058,Yemen,YEM,MENA,16.0,175.0,7.0,1.850000,2017,NaN,NaN,...,24.039000,28.300000,75.5,-28.100,-6.8000,2670.6,15.90,30.000,-1191.0,68.600
1059,South Africa,ZAF,SSA,43.0,71.0,8.0,3.980000,2017,81.0,6.0,...,33.705000,54.900000,723.5,1.300,2.1000,13165.2,25.10,4.600,1772.4,50.100
1060,Zambia,ZMB,SSA,37.0,96.0,9.0,2.460000,2017,122.0,23.0,...,25.570000,15.500000,62.7,3.600,5.4000,3868.1,10.70,10.100,1653.0,52.900
1061,Zimbabwe,ZWE,SSA,22.0,157.0,9.0,2.220000,2017,175.0,45.0,...,28.506000,13.400000,28.1,1.500,6.5000,2096.2,9.30,-2.400,421.0,53.000

In [18]:
df_all.to_excel(r"C:\Users\Quaresma\Documents\IRONHACK\Tableau project\tableau_dataset.xlsx")